[submodule "microservices/auth_service/third_party/userver"]
	path = microservices/auth_service/third_party/userver
	url = https://github.com/userver-framework/userver.git
[submodule "microservices/auth_service/third_party/jwt-cpp"]
	path = microservices/auth_service/third_party/jwt-cpp
	url = https://github.com/Thalhammer/jwt-cpp.git
[submodule "app/third_party/jwt-cpp"]
	path = app/third_party/jwt-cpp
	url = https://github.com/Thalhammer/jwt-cpp.git
